* {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;

}

.head {
    display: flex;
    align-items: center;
    background-color: #353A50;
    height: 120px;
    padding-left: 20px;
}

.logo {
    width: 100px;
    height: 100px;
}


.container {
    width: 400px;
    height: 200px;
    background-color: #353A50;
    border-radius: 5px;
    margin: 20px auto;
    margin-left: 440px;
}

.container_2 {
    background-color: #353A50;
    margin: 20px auto;
    border-radius: 5px;
    width: 490px;
    height: 640px;
}

.sec1 {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #292C3D;
}







