* {
    margin: 0;
    box-sizing: border-box;
      overflow: hidden;

}


.head {
    display: flex;
    align-items: center;
    background-color: #353A50;
    height: 120px;
    padding-left: 20px;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}


.container {
    width: 400px;
    height: 200px;
    background-color: #353A50;
    border-radius: 15px;
    border: 1px solid rgb(184, 184, 184);
    margin: 13px ;
    margin-left: 460px;

}

.container_2 {
    background-color: #353A50;
    margin: 15px auto;
    border-radius: 10px;
    border: 1px solid rgb(184, 184, 184);
    width: 480px;
    height: 620px;
}

.sec1 {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #292C3D;
}
.texto{
    color: #f5f6ff;
    margin-left: 130px;
    margin-top: 30px;
    font-family: "Poiret One", sans-serif;
    font-weight: 800;
    font-style: 500px;
    font-size: 20px;

}
 







